* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

main {
    margin: 0 auto;
    width: 400px;
}

h1 {
    text-align: center;
    margin: 10px;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    box-shadow: 0 0 30px #333;
    width: 100%;
    height: auto;
}

section {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid rgb(0 0 0 / 10%,);
    background-color: #abe;
    font-size: 0.9rem;
}

section p {
    margin: 10px 0;
}

ul {
    margin-left: 20px;
}

footer {
    font-size: 0.9rem;
}